ul > li {
  margin: 15px 0px;
  list-style-type: none;
}

ul > li:nth-child(odd) {
  background-color:rgba(0,0,0,0.1)
}

#hello {
  position:fixed;
  top:0;
  width: 100px;
  margin: 100px auto;
  background: yellow;
}

#world {
  position:fixed;
  top:0;
  left: 234px;
  width: 100px;
  margin: 100px auto;
  background: yellow;
}

#alpaca {
  position:fixed;
  left:100px;
  top: 0px;
}

#nameList {
	font-size: 200%;
}

#itemLister {
  position:fixed;
  top:250px;
} 